@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');

.offcanvas {
  max-width: 350px !important;
}

.offcanvas-body h4{
  color : #a13cf4;
  font-family: "Playpen Sans Deva", cursive;
  font-size: 1.7rem;
  font-weight: 600;
}

.offcanvas-body p{
  font-size: 1.2rem;
  font-weight: 600;
}

.offcanvas-header {
  background-color: #ad58f3;
  color: white;
}

.btn-close {
  color: white !important;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.form-control {
  font-size: 1.1rem !important;
  font-weight: 600;
  margin: 0 5px !important;
}