/* Define color variables for light and dark modes */
:root {
    --primary-bg-color: #fff;
    --primary-text-color: #000;
    --primary-button-bg: #7b257b; /* Purple */
    --primary-button-text: #fff;
    --modal-bg-color: #f8f9fa;
    --modal-text-color: #212529;
    --edit-icon-color: purple;
    --success-color: #28a745;
    --error-color: #dc3545;
  }
  
  [data-theme="dark"] {
    --primary-bg-color: #212529;
    --primary-text-color: #fff;
    --primary-button-bg: #6f42c1;
    --primary-button-text: #fff;
    --modal-bg-color: #343a40;
    --modal-text-color: #fff;
    --edit-icon-color: #ffd700;
    --success-color: #28a745;
    --error-color: #dc3545;
  }
  
  /* General body styling */
  .contact-list {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  
  .contact-list-title {
    color: var(--primary-text-color);
  }
  
  .contact-table th {
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
  }
  
  .contact-table tbody tr:nth-child(even) {
    background-color: #7b257b;
  }
  
  .contact-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .btn-show-details {
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
  }
  
  .btn-show-details:hover {
    background-color: darkviolet;
  }
  
  /* Modal styling */
  .contact-modal .modal-content {
    background-color: var(--modal-bg-color);
    color: var(--modal-text-color);
  }
  
  /* Edit icon */
  .edit-status-icon {
    cursor: pointer;
    color: var(--edit-icon-color);
    margin: 10px;
    font-size: 25px;
  }
  
  .edit-status-icon:hover {
    color: darkviolet;
  }
  
  .status-select {
    width: auto;
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Save Button */
  .btn-save-status {
    background-color: var(--success-color);
    color: var(--primary-button-text);
  }
  
  .btn-save-status:hover {
    background-color: #218838;
  }
  