.navbar {
    background-color: #3b3b3b;
    height: 60px;
    z-index: 1030;
}

.navbar img {
    margin-left: -80px;
}

.navbar .link {
    margin-right: auto;
    text-decoration: none;
}

.navbar .about-us {
    color: white;
    margin-right: -60px;
    font-weight: bold;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .navbar img {
        margin-left: 0px;
    }
    .navbar .about-us {
        margin-right: 0px;
        font-size: 16px;
    }
    
}
