/* src/Components/Preloader.css */
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* or use a dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.spinner {
  width: 100%;
  height: 100%;
  /* border: 6px solid #cfcfcf; */
  border-top: 6px solid #7b257b; /* Purple accent */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
