/* App.css */
@import './Components/Testimonials.css';
@import './Components/Faq.css';
@import './Components/Footer.css';


/* You can still write global styles below if needed */
body {
  margin: 0;
}
